* {
  background-color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  margin-top: 1rem;
  background-color: teal;
  border: 1px solid white;
  border-radius: 40px;
}

.nav {
  height: auto;
  width: 100%;
  background-color: teal;
  color: wheat;
  font-size: medium;
  border: 1px solid white;
  border-radius: 40px;
}
.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: teal;
  border: 1px solid white;
  border-radius: 40px;
}
.nav ul li {
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: teal;
}

.nav ul li a {
  color: wheat;
  text-decoration: none;
  background-color: teal;
  transition: 1s;
}
.main {
  color: wheat;
  text-align: center;
  margin-top: 1rem;
}
.heading {
  font-size: 8rem;
  margin-top: 6rem;
  animation: heading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes heading {
  from {
    text-shadow: 0 0 10px seagreen, 0 0 20px seagreen, 0 0 30px seagreen,
      0 0 40px seagreen, 0 0 50px seagreen, 0 0 60px seagreen, 0 0 70px seagreen;
  }

  to {
    text-shadow: 0 0 20px wheat, 0 0 30px #008080, 0 0 40px #008080,
      0 0 50px #008080, 0 0 60px #008080, 0 0 70px #008080, 0 0 80px #008080;
  }
}

.skill-section {
  margin-top: 3rem;
}

.skills {
  margin-left: 15%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}

.skills-container {
  width: 30%;
  background-color: wheat;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.skills-container p {
  background-color: teal;
  display: inline-block;
  border-radius: 20px;
  margin: 0 10px;
}
.skill {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
}
.react {
  display: flex;
  justify-content: space-between;
  width: 90%;
  background-color: teal;
}

.html {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: teal;
}
.css {
  display: flex;
  justify-content: space-between;
  width: 70%;
  background-color: teal;
}

.javascript {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: teal;
}
.node {
  display: flex;
  justify-content: space-between;
  width: 70%;
  background-color: teal;
}
.java {
  display: flex;
  justify-content: space-between;
  width: 70%;
  background-color: teal;
}
.springboot {
  display: flex;
  justify-content: space-between;
  width: 60%;
  background-color: teal;
}
.microservices {
  display: flex;
  justify-content: space-between;
  width: 60%;
  background-color: teal;
}

.projects {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin-top: 2rem;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  background-color: teal;
  width: 280px;
  height: 320px;
}

.card p {
  background-color: teal;
}

.card h2 {
  background-color: teal;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.7);
  transform: scale(1.1) translate(10px, -10px);
  transition: 0.8s;
}

.experience {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 2rem auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: teal;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: teal;
  border: 5px solid wheat;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid teal;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent teal;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid teal;
  border-width: 10px 10px 10px 0;
  border-color: transparent teal transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: wheat;
  position: relative;
  border-radius: 6px;
  border: 10px solid teal;
}

.content h2 {
  background-color: wheat;
  color: teal;
}
.content p {
  background-color: wheat;
  color: teal;
}

.content ul li {
  list-style: none;
  background-color: wheat;
  color: teal;
}

footer {
  height: auto;
  width: 100%;
  background-color: teal;
  color: wheat;
  font-size: lrge;
  position: relative;
  bottom: 0px;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: teal;
  color: wheat;
  position: relative;
  padding: 1rem;
  font-weight: bold;
}

.footer h2 {
  padding: 20px;
  text-align: center;
  background-color: teal;
}

.footer-links li a i {
  background-color: teal;
  color: wheat;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }

  .skills {
    margin-left: 8%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
  }

  .skills-container {
    width: 70%;
    background-color: wheat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
  }
  .skills-container p {
    font-size: small;
  }

  .heading {
    font-size: 4rem;
    margin-top: 6rem;
    animation: heading 1s ease-in-out infinite alternate;
  }
}
