* {
  background-color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  margin-top: 1rem;
  background-color: teal;
  border: 1px solid white;
  border-radius: 40px;
}

.nav {
  height: auto;
  width: 100%;
  background-color: teal;
  color: wheat;
  font-size: medium;
  border: 1px solid white;
  border-radius: 40px;
}
.nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: teal;
  border: 1px solid white;
  border-radius: 40px;
}
.nav ul li {
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: teal;
}
.main {
  color: wheat;
  text-align: center;
  margin-top: 1rem;
}
.heading {
  font-size: 5rem;
  margin-top: 4rem;
  animation: heading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes heading {
  from {
    text-shadow: 0 0 10px wheat, 0 0 20px wheat, 0 0 30px #008080,
      0 0 40px #008080, 0 0 50px #008080, 0 0 60px #008080, 0 0 70px #008080;
  }

  to {
    text-shadow: 0 0 20px wheat, 0 0 30px #008080, 0 0 40px #008080,
      0 0 50px #008080, 0 0 60px #008080, 0 0 70px #008080, 0 0 80px #008080;
  }
}

.skill-section {
  margin-top: 3rem;
}

.skills {
  margin-left: 15%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
}

.skills-container {
  width: 30%;
  background-color: wheat;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.skills-container p {
  background-color: teal;
  display: inline-block;
}
.skill {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
}
.react {
  width: 90%;
  background-color: teal;
}

.html {
  width: 80%;
  background-color: teal;
}
.css {
  width: 70%;
  background-color: teal;
}

.javascript {
  width: 80%;
  background-color: teal;
}
.node {
  width: 70%;
  background-color: teal;
}
.java {
  width: 70%;
  background-color: teal;
}
.springboot {
  width: 50%;
  background-color: teal;
}
.microservices {
  width: 50%;
  background-color: teal;
}

.projects {
  margin-top: 2rem;
}

.experience {
  margin-top: 2rem!;
}

footer {
  height: auto;
  width: 100%;
  background-color: teal;
  color: wheat;
  font-size: small;
  position: relative;
  bottom: 0px;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: teal;
  color: wheat;
  position: relative;
  padding: 1rem;
  font-weight: bold;
}

.footer h2 {
  text-align: center;
  background-color: teal;
}

.footer-links li {
  background-color: teal;
}
